/* pt-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-cyrillic_latin-regular.woff') format('woff') /* Modern Browsers */
}
/* pt-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'PT Sans Bold';
  font-style: bold;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-cyrillic_latin-700.woff') format('woff') /* Modern Browsers */
}



body {

  /* временно для сетки !!!!!!!!!!!!!!!!!!!!!!!удалить!!!!!!!!!!!!! */
  background-image: url("../img/sedona-index1.jpg");
  background-position: 35px 0;
  /* закончилось временно */

  min-width: 1200px;
  min-height: 933px;  
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
  }

   /* контейнер для выравнивания всего */
  .container-all {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
     /* закончилось временно */

  a {
    text-decoration: none;
  }



/* - стили для навигации- */
.site-navigation {
  font-family: "PT Sans Bold";
  line-height: 26px;
  font-weight: bold;
  list-style: none;
  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: wrap;
    min-height: 56px;
}

.site-navigation li {
  color: #000000;
  width: 240px;
  text-align: center;
  padding-top: 14px;
}

.site-navigation a {
  color: #000000;
  padding: 18px;
}

.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.current-page a {
  color: #766357;
}

.site-navigation-left {
  margin-right: auto; 
}

.site-navigation-right {
  margin-left: auto; 
}

.header-logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

/* - стили для шапки главной страницы- */
.main-field {
min-height: 512px;
display: flex;
flex-direction: column;
align-items: center;
}
.main-field img:nth-child(1) {
margin-top: 74px;
}
.main-field img:nth-child(2) {
margin-top: auto;
}

.title {
  font-family: "PT Sans Bold";
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-top: 55px;
}
.subtitle {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 51px;
}

/* - стили для таблицы достопримечательностей главной страницы- */
.table-attractions {
  border-collapse: collapse;
  border-spacing: 0px;
  line-height: 0px;
}

.background-blue {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  min-height: 256px;
  width: 400px;
}
.background-white {  
  background-color: #ffffff;
  color: #000000;
  text-align: center;
height: 330px;
  width: 400px;
}
.background-gray {
  background-color: #eeeeee;
  color: #000000;
  text-align: center;
  width: 400px;
height: 256px;
}
.attractions-title {
  font-family: "PT Sans Bold";
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}
.attractions-text {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  margin-bottom: 50px;
}

.image-wide-align {
  margin: 0px;
  padding: 0px;
}
.image-align {
 margin-top: 55px;
 margin-bottom: 25px;
}
.image-present-icon {
  margin-top: 55px;
  margin-bottom: 30px;
 }

/* - стили для формы главной страницы - */
.think-data-offer {
  display: flex;
  flex-direction: column;
  min-height: 293px;
  align-items: center; 
}

.interest-title {
  font-family: "PT Sans Bold";
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 20px;
}

.interst-proviso {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #333333;
  text-align: center;
  padding-top: 0px;
  margin-top: -5px;
}

.data-form {
  display:none;
  width: 568px;
  min-height: 395px;
  background-color: #ffffff;


}

.label-name {
  line-height: 26px;
}

.form-button {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
    padding-top: 5px; 
    border: none;
    height: 86px;
    width: 568px;
    margin-top: auto;
  }
.form-button:hover {
    color: #ffffff;
    background-color: #604e43;
    }
.form-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
    }


.calendar-form-icon {  
      background-color: #f2f2f2;
      border: none;
      width: 38px;
      height: 38px; 
    }
    
    .svg-calendar {
  fill-opacity: 0.3;
  fill: black;
}

.svg-calendar:hover {
  fill: black;
  fill-opacity: 1;
}

.svg-calendar:active {
  fill: #81b3d2;
  fill-opacity: 1;
}

.form-plane {
  background-color: #f2f2f2;
  border: none;
  width: 346px;
  height: 38px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}
.form-plane:focus {
  background-color: #ffffff;
  border: 1px;
  border-color: #f2f2f2;
}
.form-plane-value {
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}
.form-plane-value:focus {
  background-color: #ffffff;
  border: 1px;
  border-color: #f2f2f2;
}
.button-maths{
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
}
.button-maths:hover {
  color: #000000;
}
.button-maths:active {
  color: #81b3d2;
}

    .form-button-find {
      font-size: 21px;
      line-height: 26px;
      font-family: "PT Sans Bold";
      text-transform: uppercase;
      font-weight: bold;
      color: #ffffff;
      background-color: #81b3d2;
      padding-left: 196px;
      padding-right: 196px;
      padding-top: 17px; 
      padding-bottom: 22px;
      border: none;
    }
    .form-button-find:hover {
      background-color: #669ec0;
    }
    
    .form-button-find:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3);
    }
    .map-image {
      margin: 0px;
      margin-bottom: -8px;
      padding: 0px;
      min-height: 470px;
    }


/* - стили для подвала - */
.main-footer {
  min-height: 100px;
  padding-top: 17px;
  display: flex;
  align-items: baseline; 
}

.footer-hashtag {
  font-family: "PT Sans Bold";
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  margin: 0px;
  margin-left: 132px;
  min-height: 100px;
  width: 140px;
  display: flex;
}

.footer-social {
  margin-left: 254px;
}
.footer-social ul {
display: flex;
list-style: none;
min-width: 150px;
min-height: 100px;
justify-content: space-between;
margin: 0 auto;
padding: 0;
}
.social-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.social-button a:hover {
  background-color: #669ec0;
}
.social-button a:active {
  background-color: #5496bd;
}

.social-button-icon {
fill: #fff;
}
.social-button-icon:hover {
  fill: #fff;
  }
  .social-button-icon:active {
    fill-opacity: 0.3;
    }

.footer-copyright {
  font-family: "PT Sans";
  text-transform: uppercase;
  line-height: 26px;
  font-size: 14px;
  font-weight: normal;
  width: 200px;
  margin-right: 98px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.footer-copyright-icon {
  fill:#231f20;
  margin-top: 10px;
  margin-left: 10px;
}
.footer-copyright-icon:hover {
  fill:#81b3d2;
}
.footer-copyright-icon:active {
  fill:#bdbbbc;
}

/* - стили для страницы отелей, результат - */
.filter-extended {
  min-height: 216px;
}

.result-common {
  min-height: 87px;
}

/* - стили для описания найденного жилья, результат - */
.hotels-table {
  border-collapse: collapse;
  width: 1200px;

  border-top: 1px solid #e5e5e5;
}
.hotels-table td{
}

.table-picture {
  padding-top: 30px;
  padding-right: 28px;
  padding-bottom: 22px;
  padding-left: 73px;
  width: 135px;
}
.hotels-table-line1 {
  text-align: right;
  padding-top: 25px;
  padding-right: 72px;
  min-height: 55px;
  width: 182px;
}
.hotels-table-line1 img {
  margin: 1px;
}
.result-hotels-name {
  padding-top: 22px;
  text-align: left;
  font-family: "PT Sans Bold";
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  font-size: 21px;
  width: 780px;
}
.result-hotels-name a {
  color: #000000;
}
.result-hotels-name a:hover {
  color: #81b3d2;
}
.result-hotels-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-about {
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.hotel-rating {
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
  display: block;
  padding-top: 2px;
  height: 25px;
  width: 110px;
  margin-bottom: 25px;
  margin-left: 74px;
  }

.hotel-details {
  font-family: "PT Sans Bold";
  line-height: 21px;
  font-weight: bold;
text-transform: uppercase;
color: #ffffff;
background-color: #81b3d2;
padding-left: 16px;
padding-right: 16px;
border: none;
height: 27px;
width: 110px;
margin-bottom: 25px;
}
.hotel-details:hover {
background-color: #669ec0;
}
.hotel-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  }
.hotel-reservation {
  font-family: "PT Sans Bold";
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  height: 27px;
  width: 142px;
  margin-bottom: 25px;
}
.hotel-reservation:hover {
  background-color: #604e43;
  }
  .hotel-reservation:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
    }

.hotel-row2 {
  width: 114px;
}    
.hotels-table-line3, .table-picture{
  border-bottom: 1px solid #e5e5e5;
}

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }